{{ $banner := resources.GetMatch .  }}

{{ $tiny := ($banner.Resize "480x q90 webp") }}
{{ $small := ($banner.Resize "768x q90 webp") }}
{{ $medium := ($banner.Resize "1024x  q90 webp") }}
{{ $large := ($banner.Resize "1366x q90 webp") }}

<img
srcset="
    {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
    {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
    {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
    {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
src="{{ $banner.RelPermalink }}"
alt="banner-image">